body {
  background-color: #e4e4e4;
}
.header {
  background-color: #fff;
  border-bottom: 1px solid #666;
  height: 60px;
}
.first {
  margin-top: -55px;
  background-image: url("images/main.jpg");
  background-size: cover;
  background-position: center center;
}
.subhead {
  color: #fff;
  font-size: 3em;
}
.headerbox p {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
